<h1>Register</h1>
<% if (typeof error !== 'undefined') { %>
  <p><%= error %></p>
<% } %>
<form method="POST" action="/users/register">
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Register</button
